
<div class = "container">
  <div class = "row mt-5">
    <div class = "offset-2 col-8">
      
      <table class = "table">
        <thead>
          
          <h2 class = "text-center">お問い合わせ一覧</h2>
          
          <tr>
            <th>件名</th>
            <th>お問い合わせ日</th>
            <th>回答日</th>
            <th colspan="3"></th>
          </tr>
          
        </thead>
      
      
        <tbody>
          
          <% @answers.each do |answer| %>
          
            <tr>
                
              <td><%= link_to answer.title, inquiry_path(answer), class: "linkbox" %> </td>
              <td><%= l answer.created_at %></td>
              <% if answer.answers.present? %>
                <td><%= l answer.answer.created_at %></td>
              <% else %>
                <td>
                  <p>未回答</p>
                </td>
              <% end %>
                
            </tr>
          <% end %>
          
        </tbody>
      </table>
    </div>
  </div>
  
  <div class = "row justify-content-center mt-5">
      <%= link_to "お問い合わせ", new_inquiry_path, class: "button" %>
  </div>
</div>